CompileFlags:
  CompilationDatabase: ./
  Add:
    # This is genuinely awful but the Arduino lib does some weird casting internally
    - "-Wno-sign-conversion"
  Remove:
    # GCC vs. Clang discrepencies
    - "-mlongcalls"
    - "-fno-tree-switch-conversion"
    - "-fanalyzer"
    - "-fstrict-volatile-bitfields"

Diagnostics:
  ClangTidy:
    # Enable all core rules
    Add:
      - bugprone-*
      - cert-*
      - cppcoreguidelines-*
      - modernize-*
      - performance-*
      - portability-*
      - readability-*
      - misc-*
    Remove:
      - cppcoreguidelines-avoid-non-const-global-variables # Stupid in the context of Arduino
      - cppcoreguidelines-avoid-magic-numbers # See above
      - readability-magic-numbers # See above
      - readability-function-cognitive-complexity # no.
      - readability-implicit-bool-conversion # Eh.
      - cert-err58-cpp # Stupid
